.h1 {
    font-size: 325%;
    font-weight: bolder;
    color: white;
}

.h5 {
    width: 28%;
    text-align: center;
    font-weight: normal;
    font-size: 100%;
    color: white;
}

.pageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0);
}

.headerContainer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}