:colors {
    --mainTextColor: rgba(255,255,255,.4);
    --mainBackgroundColor: rgba(243,243,243,1);
    --mainCardColor: rgba(255,255,255,1);
    --mainButtonColor: rgba(254,99,71,1);
    --mainBottomNavigationBarColor: rgba(21,20,25,1);
    --mainIconColor: rgba(196,196,196,1);
    --mainStatisticColor: rgba(87,54,232,1);
    --secondaryAccent: rgba(87,54,232,1);
};